.hud-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
